apiVersion: v1
kind: Service
metadata:
  name: devops-challenge
  namespace: devops-challenge
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
  selector:
    app: devops-challenge
